[Unit]
Description=(VFIO) Bring up one VM when another is down 
After=libvirtd.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/opt/vfio-vm-rotation/daemon

[Install]
WantedBy=multi-user.target