[Unit]
Description=C program for rotating between two VMs 
After=libvirtd.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/opt/vfio-vm-rotation/daemon

[Install]
WantedBy=multi-user.target