[Unit]
Description=C program for rotating between two VMs 
After=libvirtd.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=/usr/bin/sleep 10
ExecStart=/opt/vfio-vm-rotation/daemon
Environment="VFIO_VM_NAME=vfio-win10"
Environment="IDLE_VM_NAME=vfio-fedora"

[Install]
WantedBy=multi-user.target
